<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%15.15t] %highlight{%-5level} %-40.40logger{1.} - %msg%n%ex"/>
    </Console>
    <File name="File" fileName="build/logs/app.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%15.15t] %highlight{%-5level} %-40.40logger{1.} - %msg%n%ex"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.github.rahulsom.ajp" level="DEBUG"/>
    <Logger name="com.github.rahulsom.ajp.MavenCentralApi" level="INFO"/>
    <Logger name="com.github.rahulsom.ajp.JenkinsUpdateCenterApi" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
